{{view Todos.CreateTodoView id="new-todo" placeholder="What needs to be done?"}}

<div id="stats">
  {{#view Ember.Button target="Todos.TodosController" action="clearCompletedTodos"}}
    Clear Completed Todos
  {{/view}}

  {{Todos.todosController.remaining}} remaining
</div>

{{view Ember.Checkbox class="mark-all-done"
  title="Mark All as Done"
  disabledBinding="Todos.TodosController.isEmpty"
  valueBinding="Todos.TodosController.allAreDone"}}

<ul>
{{#each Todos.TodosController.content}}
  <li {{bindAttr class="isDone"}}>
    {{view Ember.Checkbox titleBinding="title" valueBinding="isDone"}}
  </li>
{{/each}}
</ul>
